*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}
.main{
    display: flex;
}
.left-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 68%;
    margin-right: 2% ;
}
.right-container{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.blog{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recent-blog , .previous-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.recent-blog img , .previous-blog img{
    height: 200px;
    width: 100%;
    margin: 20px;
}

.recent-blog img{
    margin-left: 0;
}

.previous-blog img{
    margin-right: 0;
}

/* card */
.my-container{
    background: #fff;
    border-radius: 5px;
    color: #6f6f6f;
    width: 350px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,.75) ;
}
.profile{
    background: url(https://cdn.pixabay.com/photo/2018/09/16/22/08/software-3682509_1280.jpg);
    height: 160px;
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.profile-img{
    height: 120px;
    width: 120px;
    border-radius: 150px;
    margin: 93px 0 0 -175px;
    padding: 7px;
    background: #292343;
}
.profile-name{
    font-size: 25px;
    font-weight: bold;
    margin: 27px 0 0 120px;
}
.about{
    margin-top: 15px;
    line-height: 21px;
}
button{
    margin-left: 10px 0 40px 0;
}
.msg-btn, .follow-btn{
    background: #e3e3e3;
    padding: 10px 25px;
    color: #231e39;
    border-radius: 3px;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
}
.follow-btn{
    margin-left: 10px;
    background: transparent;
    color: #707070;
}
.follow-btn:hover{
    color: #231e39;
    background: #e3e3e3;
    transition: .5s;
}
.my-container i{
    margin-top: 40px;
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .5s;
}
.my-container i:hover{
    color: #e3e3e3;
}

@media (max-width : 800px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .left-container{
        width: 100%;
    }
    .right-container{
        width: 100%;
    }
    .my-container{
        width: 100%;
    }
    .recent-blog img, .previous-blog img{
        margin-left: 20px;
    }
    .my-container{
        margin-bottom: 20px;
    }

    
}